<!--</head>
<body>-->
{% extends "registration/../../templates/pc_home_generic.html" %}

{% block content %}
<div>
    <h1>T.C. Powers Calculator</h1>
</div>
<div class="arow">
        <div class="colu-12 calc in">
            <form action="result.html" method="post">
            {% csrf_token %}
            <ul>
                <div class="lrow">
                    <div class="colu-5">
                            <p class="ltitle">Input</p>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>Water/Cement Ratio</li>
                    </div>
                    <div class="colu-5">
                            <li><input type="number" step="0.01" id="WCRatio" name="WCRatio" max="1" min="0"></li>
                    </div>
                </div>

                <div class="lrow">
                    <div class="colu-5">
                            <li>Degree of Hydration</li>
                    </div>
                    <div class="colu-5">
                            <li><input type="number" step="0.01" id="DegOfHydra" name="DegOfHydra" max="1" min="0"></li>
                    </div>
                </div>
            </ul>
            <div class="brow">
                <button type="submit" class="btn btn-primary">Compute</button>
            </div>
                {% for message in messages %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </form>
        </div>
</div>
<div class="arow">
    <div class="colu-12 calc breakdown">
        <ul>
            <div class="lrow">
                <div class="colu-5">
                    <p class="ltitle">Output</p>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>W<sub>a</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>W<sub>g</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>V<sub>g</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>V<sub>hp</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>V<sub>c</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>V<sub>u</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>P<sub>g</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>P<sub>c</sub></li>
                </div>
            </div>
            <div class="lrow">
                <div class="colu-7">
                    <li>X</li>
                </div>
            </div>
        </ul>
    </div>
</div>
{% endblock %}
<!--
</body>
</html>-->