<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Web 1920 – 3;
		--web-view-id: Web 1920 – 3;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__3;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__3 {
		position: absolute;
		width: 1920px;
		height: 2523px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 3;
		--web-view-id: Web_1920__3;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_353 {
		fill: rgba(85,90,114,1);
	}
	.Rectangle_353 {
		position: absolute;
		overflow: visible;
		width: 1921px;
		height: 63px;
		left: -1px;
		top: 0px;
	}
	#Icon_feather-settings {
		opacity: 0.75;
		position: absolute;
		width: 30.087px;
		height: 29.5px;
		left: 1601.7px;
		top: 16.5px;
		overflow: visible;
	}
	#Path_1 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 10.543px;
		top: 10.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 33.087px;
		height: 32.5px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_feather-help-circle {
		opacity: 0.75;
		position: absolute;
		width: 27.221px;
		height: 24.763px;
		left: 1535px;
		top: 19px;
		overflow: visible;
	}
	#Path_3 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 30.221px;
		height: 27.763px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 12.157px;
		height: 12.448px;
		left: 9.244px;
		top: 5.624px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 3px;
		left: 13.61px;
		top: 18.572px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-user-circle {
		opacity: 0.75;
		fill: rgba(255,255,255,1);
	}
	.Icon_awesome-user-circle {
		overflow: visible;
		position: absolute;
		width: 31.744px;
		height: 29.438px;
		left: 1664.818px;
		top: 16.563px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_2__3 {
		position: absolute;
		width: 1921px;
		height: 999px;
		left: 0px;
		top: 63px;
		overflow: visible;
	}
	#Rectangle_354 {
		fill: rgba(61,66,87,1);
	}
	.Rectangle_354 {
		position: absolute;
		overflow: visible;
		width: 1921px;
		height: 999px;
		left: 0px;
		top: 0px;
	}
	#Plastic_Cracks_ {
		opacity: 0.75;
		left: 220px;
		top: 10px;
		position: absolute;
		overflow: visible;
		width: 205px;
		white-space: nowrap;
		text-align: left;
		font-family: Freestyle Script;
		font-style: normal;
		font-weight: normal;
		font-size: 42px;
		color: rgba(255,255,255,1);
	}
	#Mixed_Design {
		opacity: 0.75;
		left: 918px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_356 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_356 {
		position: absolute;
		overflow: visible;
		width: 1270px;
		height: 350px;
		left: 325px;
		top: 203px;
	}
	#Rectangle_357 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_357 {
		position: absolute;
		overflow: visible;
		width: 1270px;
		height: 350px;
		left: 325px;
		top: 630px;
	}
	#About_blurb_Formulas_visual_ai {
		left: 348px;
		top: 1427px;
		position: absolute;
		overflow: visible;
		width: 791px;
		white-space: nowrap;
		text-align: center;
		font-family: Impact;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(68,68,68,1);
	}
	#Plastic_Cracks {
		opacity: 0.25;
		left: 44px;
		top: 109px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Bogue {
		opacity: 0.25;
		left: 44px;
		top: 149px;
		position: absolute;
		overflow: visible;
		width: 43px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#TC_Powers {
		opacity: 0.25;
		left: 44px;
		top: 189px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Mixed_Design_bf {
		opacity: 0.75;
		left: 44px;
		top: 229px;
		position: absolute;
		overflow: visible;
		width: 102px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_609 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_609 {
		position: absolute;
		overflow: visible;
		width: 57px;
		height: 57px;
		left: 1800px;
		top: 1172px;
	}
	#Icon_awesome-play {
		opacity: 0.7;
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-play {
		overflow: visible;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 1817.5px;
		top: 1188px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_613 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_613 {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 1585px;
		top: 1106px;
	}
	#Rectangle_614 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_614 {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 1486px;
		top: 1106px;
	}
	#Rectangle_615 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_615 {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 1387px;
		top: 1106px;
	}
	#Icon_awesome-save {
		opacity: 0.7;
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-save {
		overflow: visible;
		position: absolute;
		width: 30px;
		height: 30px;
		left: 1605px;
		top: 1126px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-file-download {
		opacity: 0.7;
		fill: rgba(0,0,0,1);
	}
	.Icon_material-file-download {
		overflow: visible;
		position: absolute;
		width: 26px;
		height: 28px;
		left: 1508px;
		top: 1127px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_feather-share-2 {
		opacity: 0.7;
		position: absolute;
		width: 27px;
		height: 30px;
		left: 1408px;
		top: 1126px;
		overflow: visible;
	}
	#Path_38 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_38 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 18px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_39 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_39 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 0px;
		top: 10.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_40 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_40 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 12px;
		left: 18px;
		top: 21px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_41 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_41 {
		overflow: visible;
		position: absolute;
		width: 14.348px;
		height: 10.073px;
		left: 8.385px;
		top: 17.265px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_42 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_42 {
		overflow: visible;
		position: absolute;
		width: 14.334px;
		height: 10.073px;
		left: 8.385px;
		top: 6.765px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Cement {
		opacity: 0.4;
		left: 372px;
		top: 262px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Fine_Aggregates {
		opacity: 0.4;
		left: 364px;
		top: 398px;
		position: absolute;
		overflow: visible;
		width: 200px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Water {
		opacity: 0.4;
		left: 369px;
		top: 364px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Slag {
		opacity: 0.4;
		left: 372px;
		top: 330px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Fly_Ash {
		opacity: 0.4;
		left: 371px;
		top: 296px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Notation {
		opacity: 0.6;
		left: 627px;
		top: 225px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Specific_Gravity {
		opacity: 0.6;
		left: 850px;
		top: 223px;
		position: absolute;
		overflow: visible;
		width: 252px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_703 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_703 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 263px;
	}
	#lbs {
		opacity: 0.6;
		left: 643px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#SG {
		opacity: 0.6;
		left: 721px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Equations {
		left: 80px;
		top: 1127px;
		position: absolute;
		overflow: visible;
		width: 130px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Equations_b {
		left: 703px;
		top: 1127px;
		position: absolute;
		overflow: visible;
		width: 130px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_721 {
		fill: rgba(61,66,87,1);
	}
	.Rectangle_721 {
		position: absolute;
		overflow: visible;
		width: 72px;
		height: 73px;
		left: 1537px;
		top: 496px;
	}
	#Rectangle_720 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_720 {
		position: absolute;
		overflow: visible;
		width: 57px;
		height: 57px;
		left: 1547px;
		top: 506px;
	}
	#Icon_awesome-play_b {
		opacity: 0.7;
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-play_b {
		overflow: visible;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 1564.5px;
		top: 522px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Coarse_Aggregates {
		opacity: 0.4;
		left: 364px;
		top: 432px;
		position: absolute;
		overflow: visible;
		width: 226px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Air_Entrained {
		opacity: 0.4;
		left: 364px;
		top: 466px;
		position: absolute;
		overflow: visible;
		width: 187px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#WC_ratio {
		opacity: 0.4;
		left: 366px;
		top: 500px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_722 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_722 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 296px;
	}
	#Rectangle_723 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_723 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 329px;
	}
	#Rectangle_724 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_724 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 362px;
	}
	#Rectangle_725 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_725 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 395px;
	}
	#Rectangle_726 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_726 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 428px;
	}
	#Rectangle_728 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_728 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 614px;
		top: 501px;
	}
	#Rectangle_729 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_729 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 886px;
		top: 296px;
	}
	#Rectangle_730 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_730 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 884px;
		top: 329px;
	}
	#Rectangle_731 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_731 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 884px;
		top: 397px;
	}
	#Rectangle_732 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_732 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 884px;
		top: 430px;
	}
	#yes_or_no {
		opacity: 0.4;
		left: 633px;
		top: 466px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Volume_Determination {
		opacity: 0.6;
		left: 1199px;
		top: 225px;
		position: absolute;
		overflow: visible;
		width: 314px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Slump_Test {
		opacity: 0.4;
		left: 1199px;
		top: 273px;
		position: absolute;
		overflow: visible;
		width: 147px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Air_Test {
		opacity: 0.4;
		left: 1199px;
		top: 317px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#yes_or_no_cp {
		opacity: 0.4;
		left: 1430px;
		top: 274px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#yes_or_no_cq {
		opacity: 0.4;
		left: 1430px;
		top: 314px;
		position: absolute;
		overflow: visible;
		width: 120px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Enter_the_Volume_of_your_formw {
		opacity: 0.4;
		left: 1198px;
		top: 368px;
		position: absolute;
		overflow: visible;
		width: 359px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_733 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_733 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 1195px;
		top: 408px;
	}
	#Rectangle_734 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_734 {
		position: absolute;
		overflow: visible;
		width: 179px;
		height: 21px;
		left: 1195px;
		top: 458px;
	}
	#m3 {
		opacity: 0.4;
		left: 1415px;
		top: 409px;
		position: absolute;
		overflow: visible;
		width: 22px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#ft3 {
		opacity: 0.4;
		left: 1413px;
		top: 463px;
		position: absolute;
		overflow: visible;
		width: 35px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Cement_cw {
		opacity: 0.4;
		left: 362px;
		top: 674px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Fly_Ash_cx {
		opacity: 0.4;
		left: 364px;
		top: 708px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Slag_cy {
		opacity: 0.4;
		left: 366px;
		top: 742px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Water_cz {
		opacity: 0.4;
		left: 366px;
		top: 776px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Fine_Aggregates_c {
		opacity: 0.4;
		left: 366px;
		top: 810px;
		position: absolute;
		overflow: visible;
		width: 200px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Coarse_Aggregates_c {
		opacity: 0.4;
		left: 364px;
		top: 844px;
		position: absolute;
		overflow: visible;
		width: 226px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Air {
		opacity: 0.4;
		left: 366px;
		top: 878px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#ft3_c {
		opacity: 0.6;
		left: 783px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#ID1ft3 {
		opacity: 0.6;
		left: 854px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#ID1yd3 {
		opacity: 0.6;
		left: 941px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#SSD_MA_ft3 {
		opacity: 0.6;
		left: 1028px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#SSD_MA_yd3 {
		opacity: 0.6;
		left: 1209px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#SM_Amount_lbs {
		opacity: 0.6;
		left: 1390px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 205px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
	}
	#Subtotal {
		opacity: 0.4;
		left: 483px;
		top: 900px;
		position: absolute;
		overflow: visible;
		width: 107px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Total {
		opacity: 0.4;
		left: 483px;
		top: 934px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_735 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_735 {
		position: absolute;
		overflow: visible;
		width: 249px;
		height: 157px;
		left: 1595px;
		top: 823px;
	}
	#Volume {
		opacity: 0.4;
		left: 1604px;
		top: 844px;
		position: absolute;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Mixed_Volume {
		opacity: 0.4;
		left: 1611px;
		top: 912px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_736 {
		fill: rgba(211,211,230,1);
	}
	.Rectangle_736 {
		position: absolute;
		overflow: visible;
		width: 249px;
		height: 157px;
		left: 1595px;
		top: 664px;
	}
	#FA_MC {
		opacity: 0.4;
		left: 1604px;
		top: 696px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
	#CA_MC {
		opacity: 0.4;
		left: 1604px;
		top: 732px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Lucida Console;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(0,0,0,1);
	}
</style>