* {
    box-sizing: border-box;
}

.arow::after, .lrow::after, .brow::after, .crow::after {
  content: "";
  clear: both;
  display: table;
}

[class*="colu-"] {
  float: left;
  padding: 5px;
    border-radius: 15px;
}

html {
    font-family: "Lucida Console", SansSerif, "Times New Roman";
    background-color: #3D4257;
}

h1 {
    color: white;
    text-align: center;
}

h3{
    text-align: center;
}

header {
    background-color: #555A72;
}

.calc {
    background-color: #D3D3E6;
    text-align: center;
}

.arow {
    text-align: center;
    padding: 20px;
}

.lrow {
    text-align: center;
}

.brow {
    text-align: center;
}
.crow{
    text-align: center;
    padding: 0px;
}

ul {
    list-style-type: none;
}

.ltitle {
    text-align: center;
    font-size: 10pt;
}

li {
    font-size: 8pt;
    text-align: center;
    color: dimgrey;
}

p{
    text-align: center;
}

input {
    align-content: center;
}

.but {
    align-content: center;
}

.chart{
    overflow:visible;
    text-align: center;
    height: 150px;
    background: #D3D3E6;
    padding: 0px;
    border-radius: 0px;
}

.bar-container{
    text-align: center;
    width: 75%;
    height: 100%;
}

.bar {
    position: relative;
    text-align: center;
    width:100%;
}

.trisilicate{
    background-color: yellow;
}

.disilicate{
    background-color: orange;
}

.trialumina{
    background-color: red;
}

.ferricalumina{
    background-color: #66023C;
}

.lime{
    background-color:#00FF80;
}

.silica{
    background-color:#00FFFF;
}

.alumina{
    background-color:#0040FF;
}

.ferric{
    background-color:#8000FF;
}

.sulfate{
    background-color:#800080;
}

.title{
    text-align: center;
    padding: 0px;
}

.ltooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 99;
    left: 138%;
    top:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.ltooltip::after{
    content: "";
    position: absolute;
    top:50%;
    right:96%;
    margin-left:-5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.rtooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 99;
    right: 70%;
    top:50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.rtooltip::after{
    content: "";
    position: absolute;
    top:50%;
    left:108%;
    margin-left:-5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.bar:hover .rtooltip{
    visibility: visible;
}

.bar:hover .ltooltip{
    visibility: visible;
}

.colu-1 {width: 4%;}
.colu-2 {width: 8%;}
.colu-3 {width: 12%;}
.colu-4 {width: 16%;}
.colu-5 {width: 20%;}
.colu-6 {width: 24%;}
.colu-7 {width: 28%;}
.colu-8 {width: 32%;}
.colu-9 {width: 36%;}
.colu-10 {width: 40%;}
.colu-11 {width: 44%;}
.colu-12 {width: 48%;}
.colu-13 {width: 52%;}
.colu-14 {width: 56%;}
.colu-15 {width: 60%;}
.colu-16 {width: 64%;}
.colu-17 {width: 68%;}
.colu-18 {width: 72%;}
.colu-19 {width: 76%;}
.colu-20 {width: 80%;}
.colu-21 {width: 84%;}
.colu-22 {width: 88%;}
.colu-23 {width: 92%;}
.colu-24 {width: 96%;}
.colu-25 {width: 100%}