{% extends "pc_home_generic.html" %}
{% block content %}
    <div class="arow">
        <h1>Bogue Calculator</h1>
    </div>
    <div class="arow">
        <div class="colu-12 calc in">
            <form action="/bogue/result.html" method="post">
            {% csrf_token %}
            <ul>
                <div class="lrow">
                    <div class="colu-5">
                            <p class="ltitle">Oxide</p>
                    </div>
                    <div class="colu-5">
                            <p class="ltitle">Notation</p>
                    </div>
                    <div class="colu-5">
                            <p class="ltitle">Common Name</p>
                    </div>
                    <div class="colu-5">
                            <p class="ltitle">Weight (%)</p>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>CaO</li>
                    </div>
                    <div class="colu-5">
                            <li>C</li>
                    </div>
                    <div class="colu-5">
                            <li>Lime</li>
                    </div>
                    <div class="colu-5">
                            <li>{{ form.lime }}</li>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>SiO<sub>2</sub></li>
                    </div>
                    <div class="colu-5">
                            <li>S</li>
                    </div>
                    <div class="colu-5">
                            <li>Silica</li>
                    </div>
                    <div class="colu-5">
                            <li>{{ form.silica }}</li>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>Al<sub>3</sub>O<sub>2</sub></li>
                    </div>
                    <div class="colu-5">
                            <li>A</li>
                    </div>
                    <div class="colu-5">
                            <li>Alumina</li>
                    </div>
                    <div class="colu-5">
                            <li>{{ form.alumina }}</li>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>Fe<sub>2</sub>O<sub>3</sub></li>
                    </div>
                    <div class="colu-5">
                            <li>F</li>
                    </div>
                    <div class="colu-5">
                            <li>Ferric Oxide</li>
                    </div>
                    <div class="colu-5">
                            <li>{{ form.rust }}</li>
                    </div>
                </div>
                <div class="lrow">
                    <div class="colu-5">
                            <li>SO<sub>3</sub></li>
                    </div>
                    <div class="colu-5">
                            <li><span style="text-decoration: overline">S</span></li>
                    </div>
                    <div class="colu-5">
                            <li>Sulfur Trioxide</li>
                    </div>
                    <div class="colu-5">
                            <li>{{ form.sulfate }}</li>
                    </div>
                </div>
            </ul>
            <div class="arow">
                {% block buttons %}
                {% endblock %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            </form>
        </div>
        <div class="colu-1"></div>
        <div class="colu-12 calc result">
            {% block result %}
            {% endblock %}
        </div>
    </div>
    <div class="arow">
        <div class="colu-12 calc breakdown">
            {% block breakdown %}
            {% endblock %}
        </div>
        <div class="colu-1"></div>
        <div class="colu-12 calc quiz">
            {% block types %}
            {% endblock %}
        </div>
    </div>
{% endblock %}