{% extends "bogue/bogueAbstract.html" %}
{% block buttons %}
    <button type="submit" class="btn btn-primary">Compute</button>
    <button type="submit" class="btn btn-primary" formaction="/bogue/compare.html" method="post">Compare</button>
    <a class="btn btn-primary" href="/bogue/">Clear</a>
{% endblock %}
{% block result %}
    <div class="crow">
        <div class="colu-12 title">
            <h3>Old Results</h3>
        </div>
        <div class="colu-1"></div>
        <div class="colu-12 title">
            <h3>New Results</h3>
        </div>
    </div>
    <div class="crow">
        <div class="colu-12 chart">
            <div class="colu-6 chart"></div>
            <div class="colu-13 bar-container chart">
                <div class="bar leftover" style="height: {{ request.session.leftover2 }}%"></div>
                        <div class="bar trisilicate" style="height: {{ request.session.trisilicate2 }}%"><div class="ltooltip">C<sub>3</sub>S: {{ request.session.trisilicate2|floatformat:2 }}%</div></div>
                        <div class="bar disilicate" style="height: {{ request.session.disilicate2 }}%"><div class="ltooltip">C<sub>2</sub>S: {{ request.session.disilicate2|floatformat:2 }}%</div></div>
                        <div class="bar trialumina" style="height: {{ request.session.trialumina2 }}%"><div class="ltooltip">C<sub>3</sub>A: {{ request.session.trialumina2|floatformat:2 }}%</div></div>
                        <div class="bar ferricalumina" style="height: {{ request.session.ferricalumina2 }}%"><div class="ltooltip">C<sub>4</sub>AF: {{ request.session.ferricalumina2|floatformat:2 }}%</div></div>
            </div>
            <div class="colu-6 chart"></div>
        </div>
        <div class="colu-1 chart"></div>
        <div class="colu-12 chart">
            <div class="colu-6 chart"></div>
            <div class="colu-13 bar-container chart">
                <div class="bar leftover" style="height: {{ leftover }}%"></div>
                <div class="bar trisilicate" style="height: {{ trisilicate }}%"><div class="ltooltip">C<sub>3</sub>S: {{ trisilicate|floatformat:2 }}%</div></div>
                <div class="bar disilicate" style="height: {{ disilicate }}%"><div class="ltooltip">C<sub>2</sub>S: {{ disilicate|floatformat:2 }}%</div></div>
                <div class="bar trialumina" style="height: {{ trialumina }}%"><div class="ltooltip">C<sub>3</sub>A: {{ trialumina|floatformat:2 }}%</div></div>
                <div class="bar ferricalumina" style="height: {{ ferricalumina }}%"><div class="ltooltip">C<sub>4</sub>AF: {{ ferricalumina|floatformat:2 }}%</div></div>
            </div>
            <div class="colu-6 chart"></div>
        </div>
    </div>
    <div class="arow">
        <p>Compare will open a new bogue calculation with the old results replacing the input bar graph.</p>
    </div>
{% endblock %}
{% block breakdown %}
    <ul>
        <div class="lrow">
            <div class="colu-7">
                    <p class="ltitle">Oxide</p>
            </div>
            <div class="colu-7">
                    <p class="ltitle">Compound Name</p>
            </div>
            <div class="colu-7">
                    <p class="ltitle">Weight (%)</p>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>3</sub>S</li>
            </div>
            <div class="colu-7">
                <li>tricalcium silicate</li>
            </div>
            <div class="colu-7">
                <li>{{ trisilicate|floatformat:2 }}%</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>2</sub>S</li>
            </div>
            <div class="colu-7">
                <li>dicalcium silicate</li>
            </div>
            <div class="colu-7">
                <li>{{ disilicate|floatformat:2 }}%</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>3</sub>A</li>
            </div>
            <div class="colu-7">
                <li>tricalcium aluminate</li>
            </div>
            <div class="colu-7">
                <li>{{ trialumina|floatformat:2 }}%</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>4</sub>AF</li>
            </div>
            <div class="colu-7">
                <li>calcium aluminoferrite</li>
            </div>
            <div class="colu-7">
                <li>{{ ferricalumina|floatformat:2 }}%</li>
            </div>
        </div>
    </ul>
{% endblock %}
{% block types %}
    <p>Compare your results to the corresponding cement types using the buttons below.</p>
    <form>
        {% csrf_token %}
        <div class="colu-5 but"><input type="submit" formaction="/bogue/compare.html" formmethod="post" class="btn btn-secondary" id="i2" name="i2" value="I"></div>
        <div class="colu-5 but"><input type="submit" formaction="/bogue/compare.html" formmethod="post" class="btn btn-secondary" id="ii2" name="ii2" value="II"></div>
        <div class="colu-5 but"><input type="submit" formaction="/bogue/compare.html" formmethod="post" class="btn btn-secondary" id="iii2" name="iii2" value="III"></div>
        <div class="colu-5 but"><input type="submit" formaction="/bogue/compare.html" formmethod="post" class="btn btn-secondary" id="iv2" name="iv2" value="IV"></div>
        <div class="colu-5 but"><input type="submit" formaction="/bogue/compare.html" formmethod="post" class="btn btn-secondary" id="v2" name="v2" value="V"></div>
    </form>
{% endblock %}