<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bogue Calculator</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../static/css/bogue.css">
  </head>
  <body>
    <header>Nav Bar Placeholder</header>
    <div>
        <h1>Bogue Calculator</h1>
    </div>
    <div class="row">
        <div class="col-12 calc in">
            <p>Input Form</p>
        </div>
        <div class="col-1"></div>
        <div class="col-12 calc result">
            <p>Description/Results</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 calc breakdown">
            <p>Composition Breakdown</p>
        </div>
        <div class="col-1"></div>
        <div class="col-12 calc quiz">
            <p>Quiz</p>
        </div>
    </div>
  </body>
</html>