{% extends "bogue/bogueAbstract.html" %}

{% block buttons %}
    <button id="compute" name="compute" type="submit" class="btn btn-primary">Compute</button>
{% endblock %}

{% block result %}
    <p>Enter in the percent of the weight each oxide in your cement mix takes up.</p>
    <p>The table below the input will give the results of the mixture in the percent weight of the compounds comprising it.</p>
    <p>This box will contain a bar graph showcasing the ratios of the inputs vs the outputs.</p>
    <p>Press the arrow on the bottom right of the input to compute.</p>
{% endblock %}

{% block breakdown %}
    <ul>
        <div class="lrow">
            <div class="colu-7">
                    <p class="ltitle">Oxide</p>
            </div>
            <div class="colu-7">
                    <p class="ltitle">Compound Name</p>
            </div>
            <div class="colu-7">
                    <p class="ltitle">Weight (%)</p>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>3</sub>S</li>
            </div>
            <div class="colu-7">
                <li>tricalcium silicate</li>
            </div>
            <div class="colu-7">
                <li>- %</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>2</sub>S</li>
            </div>
            <div class="colu-7">
                <li>dicalcium silicate</li>
            </div>
            <div class="colu-7">
                <li>- %</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>3</sub>A</li>
            </div>
            <div class="colu-7">
                <li>tricalcium aluminate</li>
            </div>
            <div class="colu-7">
                <li>- %</li>
            </div>
        </div>
        <div class="lrow">
            <div class="colu-7">
                <li>C<sub>4</sub>AF</li>
            </div>
            <div class="colu-7">
                <li>calcium aluminoferrite</li>
            </div>
            <div class="colu-7">
                <li>- %</li>
            </div>
        </div>
    </ul>
{% endblock %}

{% block types %}
    <p>Clicking a button below runs the calculation for that type of cement.</p>
    <div class="arow">
        <form>
            {% csrf_token %}
            <div class="colu-5 but"><input type="submit" formaction="/bogue/result.html" formmethod="post"  class="btn btn-secondary" id="i" name="i" value="I"></div>
            <div class="colu-5 but"><input type="submit" formaction="/bogue/result.html" formmethod="post"  class="btn btn-secondary" id="ii" name="ii" value="II"></div>
            <div class="colu-5 but"><input type="submit" formaction="/bogue/result.html" formmethod="post"  class="btn btn-secondary" id="iii" name="iii" value="III"></div>
            <div class="colu-5 but"><input type="submit" formaction="/bogue/result.html" formmethod="post"  class="btn btn-secondary" id="iv" name="iv" value="IV"></div>
            <div class="colu-5 but"><input type="submit" formaction="/bogue/result.html" formmethod="post" class="btn btn-secondary" id="v" name="v" value="V"></div>
        </form>
    </div>
{% endblock %}