
{% extends "pc_home_generic.html" %}
    {% block content %}
    <div class="container">
        <form method="post" action="/mixdesign/">
            {% csrf_token %}
            <div class="row" style="color: white; text-align: justify">
                <h1 class="text-center"> Mix Design Calculator</h1>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="card" style="width: 50rem; color:#D3D3E6;">
                        <div class="card-body">
                            <div class="row" style="height: 70px">
                                <div class="col-sm">

                                </div>
                                <div class="col-sm" style="color: black">
                                  Enter Amount
                                    <div class="btn-group">
                                        {{ form.Unit }}
                                    </div>
                                </div>
                                <div class="col-sm" style="color: black">
                                  Specific Gravity
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Cement
                                </div>
                                <div class="col-sm">
                                    {{ form.Cement }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Fly Ash
                                </div>
                                <div class="col-sm">
                                    {{ form.Fly_Ash }}
                                </div>
                                <div class="col-sm">
                                    {{ form.Fly_Ash_SG }}
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Slag
                                </div>
                                <div class="col-sm">
                                    {{ form.Slag }}
                                </div>
                                <div class="col-sm">
                                    {{ form.Slag_SG }}
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Water
                                </div>
                                <div class="col-sm">
                                    {{ form.Water }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Fine Aggregates
                                </div>
                                <div class="col-sm">
                                    {{ form.Fine_Aggregates }}
                                </div>
                                <div class="col-sm">
                                    {{ form.Fine_Aggregates_SG }}
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Course Aggregates
                                </div>
                                <div class="col-sm">
                                    {{ form.Coarse_Aggregates }}
                                </div>
                                <div class="col-sm">
                                     {{ form.Coarse_Aggregates_SG }}
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Air Entrained
                                </div>
                                <div class="col-sm">
                                    {{ form.Air_Entrained }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    W/C ratio
                                </div>
                                <div class="col-sm">
                                   {{ form.WC_Ratio }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 30px">
                                <div class="col-sm">

                                </div>
                                <div class="col-sm">
                                    <button  formaction="/mixdesign/output_FT.html" type="submit" class="btn btn-info" value="Submit">Compute FT</button>
                                    <button  formaction="/mixdesign/output_M.html" type="submit" class="btn btn-info" value="Submit"> Compute M </button>
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 30rem; color:#D3D3E6;">
                        <div class="card-body">
                            <div class="text-center" style="color: black; margin-bottom: 20px ">
                                Volume Determination
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                  Air Test?
                                </div>
                                <div class="col-sm" style="color: black">
                                    {{form.Air_Test}}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                  Slump Test?
                                </div>
                                <div class="col-sm" style="color: black">
                                        {{ form.Slump_Test }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                  Volume of the Formwork
                                </div>
                                <div class="col-sm">
                                  {{ form.Formwork_Volume }}
                                </div>
                                <div class="col-sm">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 30rem; color:#D3D3E6;margin-top: 50px">
                        <div class="card-body">
                            <div class="text-center" style="color: black; margin-bottom: 20px">
                                Moisture Content
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                  Course Aggregates
                                </div>
                                <div class="col-sm">
                                  {{ form.Moisture_Content_CA }}
                                </div>
                            </div>
                            <div class="row" style="height: 70px">
                                <div class="col-sm" style="color: black">
                                    Fine Aggregates
                                </div>
                                <div class="col-sm">
                                    {{ form.Moisture_Content_FA }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
