<!DOCTYPE html>
<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/mixdesign.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mix Design Calculator</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <section class="bg-primary text-center">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h>
                Nav bar place holder
                </h>
            </div>
        </div>
     </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row" style="background-color:#3D4257;">
                <form action="/mixdesign/result.html">
                <div class="col-sm-3"></div>
                    <div class="col-sm-4">
                        <div class="jumbotron"style="background-color:#D3D3E6;">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">Notation</div>
                                    <div class="col">Specific Gravity</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Cement
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="Cement">
                                            <script>
                                                document.getElementById('Cement').onkeyup = function(){
                                                    var Cement = this.valueAsNumber;
                                                    sessionStorage.setItem('Cement',Cement);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col">Fly Ash</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="FlyAsh">
                                            <script>
                                                document.getElementById('FlyAsh').onkeyup = function(){
                                                    var FlyAsh = this.valueAsNumber;
                                                    sessionStorage.setItem('FlyAsh',FlyAsh);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="SG-FlyAsh">
                                            <script>
                                                document.getElementById('SG-FlyAsh').onkeyup = function(){
                                                    var SGFlyAsh = this.valueAsNumber;
                                                    sessionStorage.setItem('SG-FlyAsh',SGFlyAsh);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">Slag</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="Slag">
                                            <script>
                                                document.getElementById('Slag').onkeyup = function(){
                                                    var Slag = this.valueAsNumber;
                                                    sessionStorage.setItem('Slag',Slag);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="SG-Slag">
                                            <script>
                                                document.getElementById('SG-Slag').onkeyup = function(){
                                                    var SGSlag = this.valueAsNumber;
                                                    sessionStorage.setItem('SG-Slag',SGSlag);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">Water</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="Water">
                                            <script>
                                                document.getElementById('Water').onkeyup = function(){
                                                    var Water = this.valueAsNumber;
                                                    sessionStorage.setItem('Water',Water);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col">Fine Aggregates</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="FA">
                                            <script>
                                                document.getElementById('FA').onkeyup = function(){
                                                    var FA = this.valueAsNumber;
                                                    sessionStorage.setItem('FA',FA);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="SG-FA">
                                            <script>
                                                document.getElementById('SG-FA').onkeyup = function(){
                                                    var SGFA = this.valueAsNumber;
                                                    sessionStorage.setItem('SG-FA',SGFA);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">Course Aggregates</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="CA">
                                            <script>
                                                document.getElementById('CA').onkeyup = function(){
                                                    var CA = this.valueAsNumber;
                                                    sessionStorage.setItem('CA',CA);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="SG-FlyAsh">
                                            <script>
                                                document.getElementById('SG-FlyAsh').onkeyup = function(){
                                                    var SGFlyAsh = this.valueAsNumber;
                                                    sessionStorage.setItem('SG-FlyAsh',SGFlyAsh);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">Air Entrained?</div>
                                    <div class="col">
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Yes</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox"> No</label>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col">W/C ratio</div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="CA">
                                            <script>
                                                document.getElementById('CA').onkeyup = function(){
                                                    var CA = this.valueAsNumber;
                                                    sessionStorage.setItem('CA',CA);
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                         <button type="button" class="btn btn-info">Compute</button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                        </div>
                    </div>
                <div class="col-sm-4">
                    <div class="jumbotron"style="background-color:#D3D3E6;">
                            <div class-="row">
                                <div class="col"></div>
                                <div class="col text-center">
                                    Volume Determination
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Slump Test?
                                </div>
                                <div class="col">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Yes</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> No</label>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Air Test?
                                </div>
                                <div class="col">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="AT-Yes"> Yes</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="AT-No"> No</label>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  Enter the Volume of the Framework
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Volume">
                                        <script>
                                            document.getElementById('Volume').onkeyup = function(){
                                                var Volume = this.valueAsNumber;
                                                sessionStorage.setItem('Volume',Volume);
                                                }
                                        </script>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col">
                                        Choose a metric for your output
                                    </div>
                                    <div class="col">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">M</button>
                                            <button type="button" class="btn btn-primary">FT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                     <div class="jumbotron"style="background-color:#D3D3E6;">
                        <div class="row">
                            <div class="col">
                                Moisture Content For Course Aggregate
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="MC-CA">
                                     <script>
                                         document.getElementById('MC-CA').onkeyup = function(){
                                             var MCCA = this.valueAsNumber;
                                             sessionStorage.setItem('MC-CA',MCCA);
                                         }
                                     </script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Moisture Content For Fine Aggregate
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="MC-FA">
                                         <script>
                                         document.getElementById('MC-FA').onkeyup = function(){
                                             var MCFA = this.valueAsNumber;
                                             sessionStorage.setItem('MC-FA',MCFA);
                                         }
                                     </script>
                                    </div>
                                </div>
                            </div>
                            <div class="row"></div>
                        </div>
                     </div>
                </div>
                </form>
            </div>
        </div>
    </section>
  </body>
</html>