<!DOCTYPE html>
<html>
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/mixdesign.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mix Design Calculator</title>
  </head>
{% extends "pc_home_generic.html" %}
    {% block content %}
    <section>
        <div class="container-fluid">
            <div class="row" style="background-color:#3D4257;">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <div class="jumbotron"style="background-color:#D3D3E6;">
                        <div class="row">
                            <div class="col">

                            </div>
                             <div class="col">
                                Amount Entered
                             </div>
                            <div class="col">
                                SG
                            </div>
                            <div class="col">
                                ft3
                            </div>
                            <div class="col">
                                1ft3
                            </div>
                            <div class="col">
                                1yd3
                            </div>
                            <div class="col">
                                SSD mix amount(ft3)
                            </div>
                            <div class="col">
                                SSD mix amount(lbs)
                            </div>
                            <div class="col">
                                Stock Mix Amount(lbs)
                            </div>
                        </div>
                        <div class="row">
                            Cement
                            <div class="col">
                                <div id="cement"></div>
                                <script>
                                    document.getElementById("cement").innerHTML = localStorage.getItem("Cement");
                                </script>
                             </div>
                            <div class="col">
                                3.15
                            </div>
                            <div class="col">
                                <div id="cement-ft3"></div>
                                <script>
                                    document.getElementById("cement-ft3").innerHTML = localStorage.getItem("Cement-ft3").toPrecision(2);
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-1ft3"></div>
                                <script>
                                    document.getElementById("cement-1ft3").innerHTML = localStorage.getItem("Cement-1ft3");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-1yd3"></div>
                                <script>
                                    document.getElementById("cement-1ft3").innerHTML = localStorage.getItem("Cement-1yd3");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-ssd-ft3"></div>
                                <script>
                                    document.getElementById("cement-ssd-ft3").innerHTML = localStorage.getItem("Cement-SSD-ft3");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-ssd-lbs"></div>
                                <script>
                                    document.getElementById("cement-ssd-lbs").innerHTML = localStorage.getItem("Cement-SSD-LBS");
                                </script>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Fly Ash
                            <div class="col">
                                <div id="fly-ash"></div>
                                <script>
                                    document.getElementById("fly-ash").innerHTML = localStorage.getItem("FlyAsh")
                                </script>
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Blast Furnace Slag
                            <div>
                            <div id="bf-slag"></div>
                                <script>
                                    document.getElementById("bf-slag").innerHTML = localStorage.getItem("FlyAsh")
                                </script>
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Water
                            <div class="col">
                            <div id="water"></div>
                                <script>
                                    document.getElementById("water").innerHTML = localStorage.getItem("Water")
                                </script>
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Fine Aggregates
                            <div>
                            <div id="fa"></div>
                                <script>
                                    document.getElementById("fa").innerHTML = localStorage.getItem("FA")
                                </script>
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Course Aggregates
                            <div id="ca"></div>
                                <script>
                                    document.getElementById("ca").innerHTML = localStorage.getItem("CA")
                                </script>
                            </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        </div>
                        <div class="row">
                            Air
                            <div id="fly-ash"></div>
                                <script>
                                    document.getElementById("fly-ash").innerHTML = localStorage.getItem("FlyAsh")
                                </script>

                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="jumbotron"style="background-color:#D3D3E6;">
                        hello
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}