<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/css/mixdesign.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mix Design Calculator</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <section class="bg-primary text-center">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h>
                Nav bar place holder
                </h>
            </div>
        </div>
     </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row" style="background-color:#3D4257;">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <div class="jumbotron"style="background-color:#D3D3E6;">
                        <div class="row">
                            <div class="col">

                            </div>
                             <div class="col">
                                Amount Entered
                             </div>
                            <div class="col">
                                SG
                            </div>
                            <div class="col">
                                ft3
                            </div>
                            <div class="col">
                                1ft3
                            </div>
                            <div class="col">
                                SSD mix amount(ft3)
                            </div>
                            <div class="col">
                                SSD mix amount(lbs)
                            </div>
                            <div class="col">
                                Stock Mix Amount(lbs)
                            </div>
                        </div>
                        <div class="row">
                            Cement
                            <div class="col">
                                <div id="cement"></div>
                                <script>
                                    document.getElementById("cement").innerHTML = localStorage.getItem("Cement");
                                </script>
                             </div>
                            <div class="col">
                                3.15
                            </div>
                            <div class="col">
                                <div id="cement-ft3"></div>
                                <script>
                                    document.getElementById("cement-ft3").innerHTML = localStorage.getItem("Cement-ft3");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-1ft3"></div>
                                <script>
                                    document.getElementById("cement-1ft3").innerHTML = localStorage.getItem("Cement-1ft3");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-ssd-ft3"></div>
                                <script>
                                    document.getElementById("cement-ssd-ft3").innerHTML = localStorage.getItem("Cement-ft3-SSD");
                                </script>
                            </div>
                            <div class="col">
                                <div id="cement-ssd-lbs"></div>
                                <script>
                                    document.getElementById("cement-ssd-lbs").innerHTML = localStorage.getItem("Cement-SSD-LBS");
                                </script>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row">
                            Fly Ash
                        </div>
                        <div class="row">
                            Blast Furnace Slag
                        </div>
                        <div class="row">
                            Water
                        </div>
                        <div class="row">
                            Fine Aggregates
                        </div>
                        <div class="row">
                            Course Aggregates
                        </div>
                        <div class="row">
                            Air
                        </div>
                    </div>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </section>
  </body>
</html>